<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2013 Pykhov Gregory
  ~
  ~ This file is subject to the terms and conditions defined in
  ~ file 'LICENSE', which is part of this source code package.
  -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <!-- UTF-8 Filter -->
    <filter>
        <filter-name>CharsetEncodingFilter</filter-name>
        <filter-class>org.s1.web.CharsetEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Application lifecycle listener -->
    <listener>
        <listener-class>test.Application</listener-class>
    </listener>

    <!-- Service dispatcher servlet -->
    <servlet>
        <servlet-name>services</servlet-name>
        <servlet-class>org.s1.web.services.ServiceDispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>services</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <!-- Pages servlet -->
    <servlet>
        <servlet-name>pages</servlet-name>
        <servlet-class>org.s1.web.pages.PagesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>pages</servlet-name>
        <url-pattern>*.gsp</url-pattern>
    </servlet-mapping>

    <!-- URL Mapping filter -->
    <filter>
        <filter-name>router</filter-name>
        <filter-class>org.s1.web.routing.URLRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>router</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



</web-app>
